.clickable-js {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  font-weight: normal;
}
#select-all-programs,
.select-all,
#deselect-all-programs,
.deselect-all {
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  font-size: 0;
  vertical-align: middle;
}
#select-all-programs {
  background: url('../images/flag_green.gif');
}
.select-all {
  background: url('../images/icon_accept.gif');
}
#deselect-all-programs {
  background: url('../images/flag_white.gif');
}
.deselect-all {
  background: url('../images/action_stop.gif');
}
